<div>
    <h1 class="text-center text-succsess">Knowledge control System</h1>

    <div class="container text-center">
        <div class="container-fluid">
            <h2 class="text-success text-left">Control of knowledge</h2>
            <p>
                Control of knowledge - this is a test of knowledge of the party providing their assessment only on the results of his abilities.
                Max takes into account individual characteristics of participants.
                Monitoring should be objective, demanding, without noticeable distortion of the true picture of knowledge.
            </p>
        </div>

</div>
</div>