<div class="animated fadeIn">
    <div class="form-group" name="Questions">
        <label class="col-md-3 control-label" name="Questions">Question:</label>
        <textarea class="form-control" type="text" maxlength="400" name="Questions" rows="5" form="finishForm" required></textarea>
    </div>
    <div class="form-group" name="Answers">
        <label class="col-md-3 control-label" name="Answers">Answer:</label>
        <input type="text" class="form-control" maxlength="20" name="Answers" form="finishForm" required>
    </div>
</div>