@model  WebUI.ViewModels.TestCompleteViewModel
@{
    ViewBag.Title = "Test Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Results:<span>@Model.GoodAnswers / @Model.Questions</span></h1>
<h2 class="text-center">@Model.Result</h2>
<div class="container">
    <h3 class="text-center">@Model.Discription</h3>
    <div>
    </div>
</div>